body
{
    margin: 5px 10px;
}

#category-menu > li
{
    float: left;
    list-style: none;
    margin: 0 5px;
}

#category-menu > li > ul > li
{
    list-style: none;
    margin: 10px 0;
}

#category-menu > li > a, #category-menu > li > ul > li > a
{
    padding:3px;
    border:1px solid #ccc;
}

#category-menu > li > ul
{
    display:none;
}

#category-menu > li:hover > ul
{
    display:block;
}

.product-list-item 
{
    padding: 5px;
    margin: 5px 0;
}

